@font-face {
    font-family: 'Magic School Two';
    src: url('./fonts/MagicSchoolTwo.ttf');
}

.app {
    height: cover;
    width: cover;
    font-family: 'Magic School Two';
    letter-spacing: .25em;
}

.houses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    flex-wrap: nowrap;
}

#gryffindor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 75vh;
}

#gryff-students {
    overflow-y: scroll;
    color: #740001;
    font-size: 1.25em;
    margin: 0px;
    padding-bottom: 0px;
}

#gryff-title {
    color: #740001;
    font-size: 1.75rem;
}

#gryff-add {
    color: #740001;
}

#gryff-edit {
    color: #740001;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#ravenclaw {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 75vh;
}

#raven-students {
    overflow-y: scroll;
    color: #0E1A40;
}

#raven-title {
    color: #0E1A40;
    font-size: 1.75rem;
}

#raven-add {
    color: #0E1A40;
}

#raven-edit {
    color: #0E1A40;
}

#hufflepuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 75vh;
}

#huff-students {
    overflow-y: scroll;
    color: #FFDB00;
}

#huff-title {
    color: #FFDB00;
    font-size: 1.75rem;
}

#huff-add {
    color: #FFDB00;
}

#huff-edit {
    color: #FFDB00;
}

#slytherin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 75vh;
}

#sly-students {
    overflow-y: scroll;
    align-items: center;
    color: #1A472A;
    font-size: 1rem;
}

#sly-title {
    color: #1A472A;
    font-size: 1.75rem;
}

#sly-add {
    color: #1A472A;
}

#sly-edit {
    color: #1A472A;
}

input {
    background-color: inherit;
    border-radius: 10px;
}

button {
    background-color: inherit;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border-color: transparent;
    padding-top: 0px;
}

input {
    padding-bottom: 0px;
}